<!DOCTYPE html>
<html>
<head>
  <title>Messages</title>
</head>
<body>
  <h1>Messages</h1>

  <ul>
    <% for (let message of messages) { %>
      <li>
        <strong><%= message.user %>:</strong> <%= message.text %>
        <br>
        <small>Posted on <%= message.added.toLocaleString() %></small>
      </li>
    <% } %>
  </ul>

  <a href="/new">Leave your message here</a>
</body>
</html>

